/hexz
_users.json
_logins.json
_auth.txt
*.prof
*.test
/bench
/hist
dump.rdb
*.wasm
*.gz
*.br
*.log
*.pem
*.zip
examples-*.html
*.cred.txt
main
# Ignore generated proto files
*.pb.h
*.pb.cc
*_pb2.py
*_pb2.pyi
*_pb2_grpc.py
.vscode/
a.out
nbench.html
