<!DOCTYPE html>
<html lang="en">

<head>
    {{template "snip_head.html" .}}
</head>

<body>
    <div>
        <canvas id="canvas" width="560" height="550"></canvas>
    </div>
    <div id="controls" class="menu">
        <div class="menurow">
            <div class="eqspaced">
                <div id="playerOneBadge">&nbsp;</div>
                <div id="score">
                    <span id="playerOneTurnInfo">&#9664;</span>
                    <span id="scoreInfo">0 &ndash; 0</span>
                    <span id="playerTwoTurnInfo">&#9654;</span>
                </div>
                <div id="playerTwoBadge">&nbsp;</div>
            </div>
        </div>
        <div class="menurow">
            <div class="eqspaced">
                <button id="undo" class="action-button">Undo</button>
                <button id="redo" class="action-button">Redo</button>
            </div>
        </div>
        <div class="menurow">
            <div class="hflow">
                <div class="dropup" id="dropup-think-time">
                    <button class="dropup-button">CPU Speed</button>
                    <div class="dropup-menu center">
                        <!--
                {{range .CPUThinkTimes}}
                <button id="think-time-{{.DurationMillis}}">{{.Label}}</button>
                {{end}}
                -->
                        <button data-millis="100" data-label="100ms" class="dropup-option">100ms</button>
                        <button data-millis="1000" data-label="1s" class="dropup-option">1s</button>
                        <button data-millis="3000" data-label="3s" class="dropup-option">3s</button>
                        <button data-millis="5000" data-label="5s" class="dropup-option">5s</button>
                    </div>
                </div>
                <div class="dropup" id="dropup-tridot">
                    <button class="dropup-button">...</button>
                    <div class="dropup-menu">
                        <button id="home" class="dropup-option">
                            <i class="fa-solid fa-up-right-from-square"></i>
                            <span class="ml-1">New</span>
                        </button>
                        <button id="reset" class="dropup-option">
                            <i class="fa-solid fa-rotate-right"></i>
                            <span class="ml-1">Reset</span>
                        </button>
                        <button id="shareLink" class="dropup-option">
                            <i class="fa-solid fa-share"></i>
                            <span class="ml-1">Share</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget" id="announcements"></div>

    <script src="{{.URLPathPrefix}}/static/js/game.js"></script>
    <script>
        initialize();
    </script>
</body>

</html>