<!DOCTYPE html>
<html lang="en">

<head>
    {{template "snip_head.html" .}}
</head>

<body>
    <div>
        <canvas id="canvas" width="560" height="550"></canvas>
    </div>
    <div id="controls" class="menu">
        <div class="menurow">
            <div class="eqspaced">
                <div id="playerOneBadge">&nbsp;</div>
                <div id="score">
                    <span id="playerOneTurnInfo">&#9664;</span>
                    <span id="scoreInfo">0 &ndash; 0</span>
                    <span id="playerTwoTurnInfo">&#9654;</span>
                </div>
                <div id="playerTwoBadge">&nbsp;</div>
            </div>
        </div>
        <div class="menurow">
            <div class="eqspaced">
                <button id="undo" class="action-button">Undo</button>
                <button id="redo" class="action-button">Redo</button>
            </div>
        </div>
        <div class="menurow">
            <div class="hflow">
                <div class="dropup" id="dropup-think-time">
                    <button class="dropup-button">CPU Speed</button>
                    <div class="dropup-menu center">
                        {{range .CPUThinkTimeOptions}}
                        <button data-millis="{{.Millis}}" data-label="{{.Label}}" class="dropup-option{{if .Selected}} selected{{end}}">{{.Label}}</button>
                        {{end}}
                    </div>
                </div>
                <div class="dropup" id="dropup-tridot">
                    <button class="dropup-button"><i class="fa-solid fa-bars"></i></button>
                    <div class="dropup-menu">
                        <button id="home" class="dropup-option labelled-icons">
                            <i class="fa-solid fa-list"></i>
                            <!-- <i class="fa-solid fa-up-right-from-square"></i> -->
                            <span>Menu</span>
                        </button>
                        <button id="reset" class="dropup-option labelled-icons">
                            <i class="fa-solid fa-rotate-right"></i>
                            <span>Reset</span>
                        </button>
                        <button id="shareLink" class="dropup-option labelled-icons">
                            <i class="fa-solid fa-share"></i>
                            <span>Share</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget" id="announcements"></div>

    <script src="{{.URLPathPrefix}}/static/js/game.js"></script>
    <script>
        initialize();
    </script>
</body>

</html>