<!DOCTYPE html>
<html lang="en">

<head>
    {{template "snip_head.html" .}}
</head>

<body>
    <div>
        <canvas id="canvas" width="560" height="550"></canvas>
    </div>
    <div id="controls" class="menu">
        <div class="menurow">
            <div class="menuitem">
                <span id="playerOneBadge">&nbsp;</span>
                <span id="playerOneTurnInfo">&#9664;</span>
                <span id="scoreInfo">0 &ndash; 0</span>
                <span id="playerTwoTurnInfo">&#9654;</span>
                <span id="playerTwoBadge">&nbsp;</span>
            </div>
        </div>
        <div class="menurow">
            <button id="home" class="menuitem">New Game</button>
            <button id="reset" class="menuitem">Reset</button>
            <div class="menuitem" id="shareLink">&#x1F517; Share</div>
        </div>
        <div class="menurow" id="menurow-undo-redo">
            <button id="undo" class="menuitem">Undo</button>
            <button id="redo" class="menuitem">Redo</button>
            <div class="dropup">
                <button class="dropup-button">CPU Speed</button>
                <div class="dropup-menu">
                    <!--
                    {{range .CPUThinkTimes}}
                    <button id="think-time-{{.DurationMillis}}">{{.Label}}</button>
                    {{end}}
                    -->
                    <button data-millis="100" class="think-time-button">100ms</button>
                    <button data-millis="1000" class="think-time-button">1s</button>
                    <button data-millis="3000" class="think-time-button">3s</button>
                    <button data-millis="5000" class="think-time-button">5s</button>
                </div>
            </div>
        </div>  
    </div>
    <div class="widget" id="announcements"></div>

    <script src="{{.URLPathPrefix}}/static/js/game.js"></script>
    <script>
        initialize();
    </script>
</body>

</html>