<!DOCTYPE html>
<html lang="en">

<head>
    {{template "snip_head.html" .}}

    <title>Hexz</title>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            background-color: #1e1e1e;
            color: #cbcbcb;
        }

        body {
            font-family: arial, sans-serif;
        }
        h1, p, div {
            text-align: center;
        }
        div.centered {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
</head>

<body>
    <h1>Welcome to Hexz!</h1>
    <p>
        To play, please enter a user name.
    </p>
    <div class="centered">
        <form action="{{.URLPathPrefix}}/login" method="post">
            <table>
                <tr>
                    <td>
                        <label for="name">Name: </label>
                    </td>
                    <td>
                        <input type="text" name="name" id="name" required>
                    </td>
                    <td>
                        <input type="submit" value="Let's play!">
                    </td>
                </tr>
            </table>
        </form>    
    </div>
</body>

</html>