<!DOCTYPE html>
<html lang="en">

<head>
    {{template "snip_head.html" .}}
</head>

<body>
    <h1 class="center">Welcome to Hexz!</h1>
    <p class="center">
        To play, please enter a user name.
    </p>
    <div class="centered">
        <form action="{{.URLPathPrefix}}/login" method="post">
            <table>
                <tr>
                    <td>
                        <label for="name">Name: </label>
                    </td>
                    <td>
                        <input type="text" name="name" id="name" required>
                    </td>
                    <td>
                        <input type="submit" value="Let's play!">
                    </td>
                </tr>
            </table>
        </form>    
    </div>
</body>

</html>