<!DOCTYPE html>
<html lang="en">

<head>
    {{template "snip_head.html" .}}
</head>

<body>
    <h1 class="center">Welcome to Hexz!</h1>
    <p class="center">
        To play, please enter a user name.
    </p>
    <div class="login">
        {{if .ErrorMessage}}
        <div class="errormessage">
            {{.ErrorMessage}}
        </div>
        {{end}}
        <form action="{{.URLPathPrefix}}/login" method="post">
            <div>
                <input type="text" name="name" id="name" placeholder="Enter username" required>
                <button type="button" id="name-refresh" class="inputlike labelonly"><i class="fa-solid fa-rotate fa-xl"></i></button>
            </div>
            <div>
                <button type="submit">Let's play!</button>
            </div>
        </form>
    </div>
    <script src="{{.URLPathPrefix}}/static/js/login.js"></script>
    <script>
        initLogin();
    </script>
</body>


</html>