<!DOCTYPE html>
<html lang="en">

<head>
    {{template "snip_head.html" .}}
</head>

<body>
    <h1 class="center">Start a new game</h1>
    <p class="center">
        Select the game you want to play:
    </p>
    <div class="centered spacer">
        <form action="{{.URLPathPrefix}}/new" method="post">
            <input type="hidden" name="type" id="type" value="Flagz">
            <input type="hidden" name="singlePlayer" id="singlePlayer" value="true">
            <input class="gameButton" type="submit" value="&#127480;&#127464; Flagz (1P)">
        </form>
    </div>
    <div class="centered spacer">
        <form action="{{.URLPathPrefix}}/new" method="post">
            <input type="hidden" name="type" id="type" value="Flagz">
            <input class="gameButton" type="submit" value="&#127480;&#127464; Flagz (2P)">
        </form>
    </div>
    <div class="centered spacer">
        <form action="{{.URLPathPrefix}}/new" method="post">
            <input type="hidden" name="type" id="type" value="Classic">
            <input class="gameButton" type="submit" value="&#x1F3B9; Classic">
        </form>
    </div>
    <div class="centered spacer">
        <form action="{{.URLPathPrefix}}/new" method="post">
            <input type="hidden" name="type" id="type" value="Freeform">
            <input class="gameButton" type="submit" value="&#x1F438; Freeform">
        </form>
    </div>

    <div id="joingame">
        <h1 class="center">Join a game</h1>
        <div class="centered" id="activeGames">
            <table id="activeGamesTable">
                <thead>
                    <tr>
                        <th>Game</th>
                        <th>Host</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script src="{{.URLPathPrefix}}/static/js/game.js"></script>
    <script>
        getActiveGames("joingame");
    </script>

</body>

</html>