<!DOCTYPE html>
<html lang="en">

<head>
    {{template "snip_head.html" .}}
</head>

<body>
    <h1 class="center">Start new game</h1>
    <div class="centered spacer">
        <form action="{{.URLPathPrefix}}/new" method="post">
            <input type="hidden" name="type" id="type" value="Flagz">
            <input type="hidden" name="singlePlayer" id="singlePlayer" value="true">
            <input class="gameButton" type="submit" value="&#127480;&#127464; Flagz (1P)">
        </form>
    </div>
    <div class="centered spacer">
        <form action="{{.URLPathPrefix}}/new" method="post">
            <input type="hidden" name="type" id="type" value="Flagz">
            <input class="gameButton" type="submit" value="&#127480;&#127464; Flagz (2P)">
        </form>
    </div>
    <div class="centered spacer">
        <form action="{{.URLPathPrefix}}/new" method="post">
            <input type="hidden" name="type" id="type" value="Classic">
            <input class="gameButton" type="submit" value="&#x1F3B9; Classic">
        </form>
    </div>
    <div class="centered spacer">
        <form action="{{.URLPathPrefix}}/new" method="post">
            <input type="hidden" name="type" id="type" value="Freeform">
            <input class="gameButton" type="submit" value="&#x1F438; Freeform">
        </form>
    </div>

    <div class="games" id="opengames">
        <h1 class="center">Join game</h1>
        <div class="centered">
            <table class="gamelist">
                <thead>
                    <tr>
                        <th>Game</th>
                        <th>Host</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="games" id="activegames">
        <h1 class="center">Watch game</h1>
        <div class="centered">
            <table class="gamelist">
                <thead>
                    <tr>
                        <th>Game</th>
                        <th>Host</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div id="login-info" class="centered xlspacer">
        Logged in as {{.PlayerName}}. &nbsp;
        <form action="{{.URLPathPrefix}}/logout" method="POST" class="inline-form">
            <button type="submit">Logout</button>
        </form>
    </div>
    <script src="{{.URLPathPrefix}}/static/js/game.js?v={{.VCSRevision}}"></script>
    <script>
        loadGames(document.getElementById("opengames"), "opengames");
        loadGames(document.getElementById("activegames"), "activegames");
    </script>

</body>

</html>